.livestream {
  min-height: 50vh;
  overflow: visible;
  //   width: 100%;
  flex: 1;
  height: 100%;
  width: 100%;

  position: relative;

  iframe {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
